body {
    background-color: #f8f9fa; /* Light background color */
}

.table {
    margin-top: 20px; /* Space between table and other elements */
}

#error {
    color: red;
    text-align: center;
}

#success {
    color: green;
    text-align: center;
}
